.container
  .row
    //-a(rel="license", href="http://creativecommons.org/licenses/by-nc-sa/4.0/")
      img(alt="Creative Commons License", style="border-width:0", src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png")
    .col-md-6.col-sm-9
      p 
        | #{site_name} is an open-source project by 
        a(href="https://codeforsanfrancisco.org") Code for San Francisco
        |  based on 
        a(href="https://openbudgetoakland.org/") Open Budget: Oakland
        |  by 
        a(href="https://openoakland.org") OpenOakland
        |  to help citizens better understand San Francisco's spending and budget process.
      ul.list-inline
        li
          a(href="https://codeforsanfrancisco.org")
            img(src="/images/global/codeforsf.png" width="150")
        li
          a(href="https://openoakland.org")
            img(src="/images/global/openoakland-logo.png" width="150")
        li
          a(href="https://github.com/openbudgetsf/openbudgetsf")
            img(src="/images/global/github-icon.png")


    .col-sm-3.col-md-push-3
      ul.list-unstyled
        li
          a(href="who-we-are.html") About the Project
        li
          a(href="https://www.meetup.com/Code-for-San-Francisco-Civic-Hack-Night/") Get Involved
        li
          a(href="feedback.html") Give Feedback