.container
  .row
    .col-md-12
      h1 Oakland Budget Visualizations

  .row
    .col-md-4
      a(href="/compare.html")
        h3 Compare
        img.img-responsive(src="/images/home/compare-thumb.jpg")
    .col-md-4
      a(href="/adopted-budget-tree.html")
        h3 Sankey
        img.img-responsive(src="/images/flow-thumb-1517.jpg")
    .col-md-4
      a(href="/adopted-budget-flow.html")
        h3 Treemap
        img.img-responsive(src="/images/tree-thumb-1517.jpg")

  .row
    .col-md-4
      a(href="/adopted-budget-sunburst.html")
        h3 Compare
        img.img-responsive(src="/images/home/compare-thumb.jpg")