section.container
  .row
    .col-sm-4.left-col
      p.lead #{site_name} visualizes the city's current and past budget data into accessible charts for the public. Data is published by the city.


    .col-md-8
      a(href="/compare.html")
        section
          h1 Comparison
          p Put two budgets head-to-head. How much did the budget grow or shrink? How are cuts and increases distributed across spending categories? How did revenue sources change?
          img.img-responsive.thumbnail(src="/images/home/compare-thumb.jpg")

      a(href="/2017-19-adopted-budget-flow.html")
        section
          h1 Overview
          p Get a bird's eye view of the big picture for a single year: where money comes from, and where it goes.
          img.img-responsive.thumbnail(src="/images/home/flow-thumb.jpg")

      a(href="/2017-19-adopted-budget-tree.html")
        section
          h1 Detail
          p Drill down into detailed spending and revenue data for each department and fund for a single year.
          img.img-responsive.thumbnail(src="/images/home/tree-thumb.jpg")